modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "API Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "API Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8080 pnpm --filter @workspace/api-server run dev"
waitForPort = 8080

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=21027 BASE_PATH=/ pnpm --filter @workspace/pdf-convert-master run dev"
waitForPort = 21027

[workflows.workflow.metadata]
outputType = "webview"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 180000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 7799
externalPort = 3002

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 21027
externalPort = 3001

[[ports]]
localPort = 23636
externalPort = 3000

[[ports]]
localPort = 24364
externalPort = 3001

[[ports]]
localPort = 24365
externalPort = 3003

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
REVENUECAT_PROJECT_ID = "projb4cb0fd0"
REVENUECAT_TEST_STORE_APP_ID = "app0de7ec7b9e"
REVENUECAT_APPLE_APP_STORE_APP_ID = "app8a1a67254a"
REVENUECAT_GOOGLE_PLAY_STORE_APP_ID = "appffdab1f69b"
EXPO_PUBLIC_REVENUECAT_TEST_API_KEY = "test_SAgjXZLBgQcjCnJQRWRmsojZSXS"
EXPO_PUBLIC_REVENUECAT_IOS_API_KEY = "appl_MINawVvBuAxlRqPhbfsOPkyrAEs"
EXPO_PUBLIC_REVENUECAT_ANDROID_API_KEY = "goog_YrXDsAKQIqhKsfXJFwTvakuuNPn"
EXPO_PUBLIC_DOMAIN = "7SNlBnPdHkjd8-2fSa8J2n_7oV6-a2C3Z4w2net-"
